

body {
	background-color: lightcyan;
    width: 960px;
    height: 500px;
    margin-left: 200px;
    margin-top: 60px;

}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}