* {
    box-sizing: border-box;
}
header{
    text-align: center;
    background-color: gray;
}
body{
    background-color: lightcyan;
    width: 960px;
    height: 500px;
    margin-left: 200px;
    margin-top: 60px;
}
.container{
    background-color: black;
    margin-left: 100px;
    margin-right: 100px;
}

.column {
    float: left;
    width: 35%;
    padding: 10px;
    height: 300px;
    align-content: center; }
    
.left {
    width: 35%;
    margin-left: 120px

      }
.right {
    width:45%;

      }    
.row:after {
    content: "";
    display: table;
    clear: both; 
    }
p
{
    color: white;
    font:bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px
}

.sidepic{
    width: 200px;
    height: 200px;
}
footer{
    background-color: grey;
    color: white;
    text-align: center;
    clear: both;
    padding: 20px
}